@mixin media($weight) {
    @media (max-width: #{$weight}px) { 
      @content;
    }
  }

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    @include media(1024){
      max-width: 1140px !important;
    }
    @include media(992){
      max-width: 720px !important;
    }
    @include media(768){
      max-width: 540px !important;
    }
    @include media(576){
      max-width: 100% !important;
    }
  }